.App {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 100vh;
}

.box {
  border: 1px solid #dce1e8;
  border-radius: 16px;
  padding: 32px 24px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  background: #0026f5;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  width: 328px;
}

.btn:disabled {
  background: #dce1e8;
  color: #9fabbd;
}

.label {
  font-weight: 400;
  font-size: 14px;
  color: #263245;
  margin-bottom: 4px;
}

.input-text {
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #dce1e8;
  border-radius: 8px;
  padding: 14px 70px 14px 12px;
  font-weight: 500;
  font-size: 16px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 16px;
}

.input-wrapper:after {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  content: 'MATIC';
}
